.music1 {
    height: 40px;
    display: flex;
}
.musicIconDiv1 {
    width: 12%;
    height: 39px;
    margin-left: 10%;
}
.musicIcon1 {
    width: 20px;
    height: 20px;
    margin-top: 8px;
    color: rgba(133, 95, 173, 0.986);
}
.musicDiv1 {
    margin-left: 10px;
    margin-top: 10px;
}