
.app-wrapper {
  display: grid;
  grid-template-areas: 
    "header header"
    "navbar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 75%;
  position: absolute;
}

.app-wrapper-content {
    grid-area: content;
    background-color:beige;
    min-width: 570px
}
